<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>아카데미챗봇</title>

    <!-- Favicon -->
    <link rel="icon" href="./dist/media/img/favicon.png" type="image/png">

    <!-- Soho css -->
    <link rel="stylesheet" href="./dist/css/soho.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<!-- layout -->
<div class="layout">
    <!-- content -->
    <div class="content">

        <!-- chat -->
        <div class="chat">
            <div class="chat-header">
                <div class="chat-header-user">
                    <figure class="avatar avatar-lg">
                        <img src="https://via.placeholder.com/150" class="rounded-circle">
                    </figure>
                    <div>
                        <h5>(주)한국인공지능아카데미</h5>
                        <small class="text-muted">
                            <a href="https://www.ai-academy.ai" target="_blank"><i>https://www.ai-academy.ai</i></a>
                        </small>
                    </div>
                </div>
            </div>
            <div class="chat-display">
                <div class="wave">
                    <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                </div>
            </div>
            <div class="chat-body"> <!-- .no-message -->
                <div class="messages">
                </div>
            </div>
            <div class="chat-footer">
                <form id="submit" action="">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="form-buttons">
                        <button id="mic" class="btn btn-light btn-floating" type="button">
                            <i class="fa fa-microphone"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- ./ chat -->

        <div class="sidebar-group">
            <div id="contact-information" class="sidebar active">
                <div class="sidebar-body">
                    <div class="pl-4 pr-4 text-center">
                        <figure class="avatar avatar-state-danger avatar-xl mb-4">
                            <img src="dist/media/img/aiweek_logo.jpg" class="rounded-circle">
                        </figure>
                        <h5 class="text-primary">(주)한국인공지능아카데미</h5>
                        <p class="text-muted"><a href="https://www.ai-academy.ai" target="_blank">www.ai-academy.ai</a></p>
                    </div>
                    <hr>
                    <div class="pl-4 pr-4">
                        <h6>About</h6>
                        <p class="text-muted">인공지능 전문 교육기관 입니다.</p>
                    </div>
                    <hr>
                    <div class="pl-4 pr-4">
                        <h6>Phone</h6>
                        <p class="text-muted">(010) 555 55 55</p>
                    </div>
                    <hr>
                    <div class="pl-4 pr-4">
                        <h6>Media</h6>
                        <div class="files">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <figure class="avatar avatar-lg">
                                        <span class="avatar-title bg-warning">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </span>
                                        </figure>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <figure class="avatar avatar-lg">
                                            <img src="https://via.placeholder.com/150">
                                        </figure>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <figure class="avatar avatar-lg">
                                            <img src="https://via.placeholder.com/150">
                                        </figure>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <figure class="avatar avatar-lg">
                                            <img src="https://via.placeholder.com/150">
                                        </figure>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <figure class="avatar avatar-lg">
                                        <span class="avatar-title bg-success">
                                            <i class="fa fa-file-excel-o"></i>
                                        </span>
                                        </figure>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <figure class="avatar avatar-lg">
                                        <span class="avatar-title bg-info">
                                            <i class="fa fa-file-text-o"></i>
                                        </span>
                                        </figure>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="pl-4 pr-4">
                        <h6>City</h6>
                        <p class="text-muted">Korea / Seoul</p>
                    </div>
                    <hr>
                    <div class="pl-4 pr-4">
                        <h6>Website</h6>
                        <p>
                            <a href="https://www.ai-academy.ai" target="_blank">www.ai-academy.ai</a>
                        </p>
                    </div>
                    <hr>
                    <div class="pl-4 pr-4">
                        <h6>Social Links</h6>
                        <ul class="list-inline social-links">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/aiakademy" target="_blank" class="btn btn-sm btn-floating btn-facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ./ content -->

</div>
<!-- ./ layout -->




<!-- JQuery -->
<script src="./dist/vendor/jquery-3.4.1.min.js"></script>
<!-- Popper.js -->
<script src="./dist/vendor/popper.min.js"></script>
<!-- Bootstrap -->
<script src="./dist/vendor/bootstrap/bootstrap.min.js"></script>
<!-- Nicescroll -->
<script src="./dist/vendor/jquery.nicescroll.min.js"></script>
<!-- Soho -->
<script src="./dist/js/soho.min.js"></script>


<!-- Chat -->
<script src="./js/scripts.js"></script>

</body>
</html>
